container_commands:
  01_collectstatic:
    command: "sudo docker exec `sudo docker ps --no-truc -q` /root/.pyenv/versions/app/bin/python manage.py collectstatic --noinput"
    leader_only: true
  02_migrate:
    command: "sudo docker exec `sudo docker ps --no-truc-q` /root/.pyenv/versions/app/bin/python manage.py migrate --noinput"
    leader_only: true